name: CI

on:
  push:
  pull_request:
  schedule:
    - cron:  '12 6 * * *'

jobs:

  testsuite:
    name: all tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '7.4', '8.0', '8.1']
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Composer install
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s composerUpdate

      - name: CGL
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s cgl -n

      - name: Lint PHP
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s lint

      - name: Phpstan
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s phpstan

      - name: Unit Tests
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s unit
