---
name: "nightly-7"
on:
    schedule:
        - cron: '42 5 * * *'
    workflow_dispatch:

jobs:
    nightly-7:
        name: "dispatch-nightly-7"
        runs-on: ubuntu-22.04
        permissions: write-all
        steps:
            - name: Checkout '7'
              uses: actions/checkout@v4
              with:
                  ref: '7'

            - name: Execute 'ci.yml' on '7'
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  gh workflow run ci.yml --ref 7
